@model App.Web.Models.ViewModels.LocationVM

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>
<table class="table" summary="Product Inventory results from location">
    <thead>
        <tr>
            <th scope="column">
                @Html.DisplayNameFor(model => model.Inventory[0].ProductName)
            </th>
            <th scope="column">
                @Html.DisplayNameFor(model => model.Inventory[0].Price)
            </th scope="column">
            <th>
                @Html.DisplayNameFor(model => model.Inventory[0].Qty)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Inventory)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
               $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            @if (item.Qty > 0)
            {
                <td class="tableInput">
                    <input type="number" min="0" max="@item.Qty" />
                    <button class="AddToCart btn-primary" ProductId="@item.ProductId" LocationId="@item.LocationId">Add to Cart</button>
                    <span class="cartInfo"></span>
                </td>
            }
        </tr>
        }
    </tbody>
</table>
<h1>Order History</h1>
<table class="table" summary="Product Inventory results from location">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Orders[0].Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Orders[0].CustomerName)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    <a asp-controller="Orders"
                       asp-action="Details"
                       asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Id)
                    </a>
                </td>
                <td>
                    <a asp-controller="Customers"
                       asp-action="Details"
                       asp-route-id="@item.CustomerId">
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>
<script>
    CartRegisterActions = ".AddToCart"
</script>