@model App.Web.Models.ViewModels.OrderVM;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order: @Html.DisplayFor(model => model.Id)</h4>
    <h4>Customer: @Html.DisplayFor(model => model.CustomerName)</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Items[0].ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items[0].Qty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items[0].Location)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @item.ProductName
                    </td>
                    <td>
                        @item.Qty
                    </td>
                    <td>
                        @item.Location
                    </td>
                </tr>
            }
        </tbody>
    </table>

